* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

html {
    height: 100%;
}
img {
    max-width: 100%;
    height: auto;
}
p {
    text-indent: 25px;
}
a {
    color: #946565;
    text-decoration: none;
    transition: all 0.3s ease;
}
a:hover {
    color: #ff4111;
    transition: all 0.3s ease;
    font-size: 1.1em;
}
.clear {
    clear: both;
}
.field {
    position: relative;
    width: 100%;
    height: 600px;
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.persons {
    position: absolute;
    width: 100px;
    top: 50%;
    transform: translateY(-50%);
}

.person-1 {
    left: 10px;
}
.person-2 {
    right: 10px;
}

.max {
    background-image: url(img/max.jpg);
}
.tanya {
    background-image: url(img/tanya.jpg);
}

.person {
    border: 2px solid rgb(214, 147, 46);
}
.btn,
.check {
    display: block;
    margin-left: 50%;
    transform: translateX(-50%);
}
.love {
    position: absolute;
    z-index: 999;
    width: 600px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.heart {
    display: none;
    position: absolute;
    width: 150px;
    z-index: 1100;
}
.heart-1 {
    top: 52%;
    left: 8%;
}
.heart-2 {
    top: 13%;
    left: 82%;

}
.heart-3 {
    top: 62%;
    left: 80%;
}
.heart-4 {   
    top: 10%;
    left: 11%;
}

@media(max-width: 1160px) {
    .heart {
        width: 120px;
    }
    
}
@media(max-width: 450px) {
.person {
    width: 50px !important;
    height: 80px !important;
}
.persons {
    width: auto !important;
}
.btn {
    width: 30px !important;
    height: 30px !important;
}
    
.heart {
    width: 60px;
}

.heart-1 {
    top: 60%;
    left: 8%;
}
.heart-2 {
    top: 13%;
    left: 82%;

}
.heart-3 {
    top: 67%;
    left: 80%;
}
.heart-4 {   
    top: 15%;
    left: 11%;
}
.love {
    left: 20%;
}
.check {
    width: 30px !important;
    height: 30px !important;
}

}