@media (max-width: 1715px) {
    .advantages__item {
        width: 23%;
    }
}
@media (max-width: 1650px) {
    header,
    .menu__box {
        .container {
            padding: 0;
        }
    }

    .title {
        line-height: 1.5;
    }
}
@media (max-width: 1430px) {
    .header__item {
        font-size: 16px;
    }
    .video__title {
        margin-top: 12%;
        color: rgba(255, 255, 255, 0.9);
        font-size: 40px !important;
    }
    .video__text {
        margin-top: 12%;
        color: rgba(255, 255, 255, 0.9);
        font-size: 32px !important;
    }
    .free {
        li {
            font-size: 18px;
        }
    }
}
@media (max-width: 1280px) {
    .menu__box {
        ul {
            padding-left: 100px;
            padding-right: 100px;
        }
    }
    .header__item {
        font-size: 14px;
        .icon {
            font-size: 18px;
        }
        span {
            font-size: 16px;
        }
    }
    .logo {
        img {
            width: 75px;
            height: 75px;
        }
    }
    .services {
        margin-top: 20px;
        .title {
            margin-left: 10px;
        }
        .title:last-child {
            margin-right: 10px;
        }

        .services__box {
            margin-top: 106px;
        }
    }

    .right__box {
        margin-top: 5%;
    }
    .prices {
        margin-top: 60px;
    }
}

@media (max-width: 1080px) {
    .logo {
        img {
            width: 50px;
            height: 50px;
        }
    }
    .video__wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }
    .video__title {
        font-size: 28px !important;
    }
    .video__text {
        font-size: 22px !important;
    }
    .advantages__item {
        h1 {
            line-height: 1.2;
            font-size: 14px;
        }
    }
}

@media (max-width: 1020px) {
    .header__item {
        font-size: 12px;
        .icon {
            font-size: 15px;
            left: -27px;
        }
        span {
            font-size: 13px;
        }
    }
    .logo {
        width: 70px;
        img {
            width: 50px;
            height: 50px;
        }
    }
    .menu__box {
        ul {
            li {
                font-size: 16px;
            }
        }
    }

    .services__img-left img {
        width: 340px;
    }
    .services__content {
        padding-left: 20px;

        h2,
        h3 {
            padding-top: 0;
            padding-bottom: 15px;
        }
        ul {
            padding-left: 20px;
        }
    }
    .services__box {
        margin-top: 55px !important;
        .services__item {
            padding-bottom: 55px;
        }
    }
    .advantages__uppertext {
        height: 110px;
    }
}
@media (max-width: 880px) {
    .header__item {
        font-size: 10px;
        .icon {
            font-size: 12px;
        }
        span {
            font-size: 11px;
        }
    }
    .menu__box {
        ul {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    .services {
        .services__wrapper {
            .original {
                display: none;
            }
        }
        .services__img-left img {
            width: 190px;
        }
        .services__box.twin {
            display: flex;
            justify-content: space-around;
            left: 0%;
            bottom: 0%;
            width: 100%;
            padding-left: 0;
            i {
                display: block;
            }
            .services__item {
                display: flex;
                flex-direction: column;
                text-align: center;
                width: 30%;
                padding-bottom: 0;
            }
            .services__img {
                position: static;
                margin: 0 auto;
                margin-bottom: 20px;
            }
        }
    }
    .advantages {
        margin-top: 50px;
        .advantages__wrapper {
            flex-wrap: wrap;
        }
        .advantages__item {
            width: 50%;
            max-width: none;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 40px;
        }
        .advantages__middletext,
        .advantages__bottomtext {
            display: none;
        }
        .advantages__uppertext {
            height: auto;
        }
        .advantages__uppertext::after {
            display: none;
        }
    }
    .line {
        display: block;
        width: 100%;
        height: 50px;
        margin-top: 30px;
        background-color: #f5a900;
    }
    .left__box {
        li {
            padding-bottom: 10px;
        }
    }
    .free {
        .free__wrapper {
            padding-right: 100px;
        }
    }

    .stripe__text {
        font-size: 12px;
    }

    form {
        width: 315px;
        font-size: 14px;
        margin-right: 20px;
    }
    footer {
        font-size: 10px;
    }
}
@media (max-width: 750px) {
    .header__box {
        padding-right: 15px;
    }
    .header__item {
        font-size: 8px;
        .icon {
            font-size: 10px;
            left: -16px;
        }
        span {
            font-size: 9px;
            font-weight: 900;
        }
    }
    .menu__box {
        ul {
            li {
                font-size: 10px;
            }
        }
    }
    .left__box {
        width: 70%;
        li {
            padding-bottom: 10px;
        }
    }
    .prices__wrapper {
        flex-direction: column-reverse;
    }
    .right__box {
        width: 100%;
        padding-bottom: 30px;
        img {
            width: 200px;
            height: 200px;
        }
    }
    .calc__wrapper {
        flex-direction: column;
        .calc__img {
            margin: 0 auto;
            img {
                width: 200px;
                height: 200px;
            }
        }
    }
    .gallery {
        img {
            padding-bottom: 0 !important;
        }
        .rightpart-left,
        .rightpart-right {
            a:first-child {
                padding-bottom: 5px;
            }
        }
        .leftpart {
            padding-right: 5px;
        }
        .rightpart-left {
            padding-right: 0;
            img:last-child {
                padding-top: 0px;
            }
        }
        .rightpart-right {
            padding-left: 5px;
            img:first-child {
            }
            img:last-child {
                padding-top: 0;
            }
        }
        
    }

    .free {
        li {
            font-size: 12px;
        }
    }
    form {
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;
    }
    .form {
        margin-top: 100px;
        .container {
            text-align: center;
            flex-direction: column;
            .form__img {
                width: 100%;
                padding-bottom: 20px;
                img {
                    width: 200px;
                    height: 200px;
                    position: static;
                }
            }
        }
    }
    footer {
        .container {
            padding-right: 10px;
            padding-bottom: 20px;
            padding-left: 10px;
        }
    }
}
@media (max-width: 635px) {
    .title {
        font-size: 11px;
    }
    .services {
        h1 {
            padding-top: 20px;
            padding-right: 5px;
        }
        h2,
        h3 {
            font-size: 10px;
        }
        .services__content {
            ul {
                li {
                    font-size: 11px !important;
                }
            }
        }
    }
    .stripe__text {
        max-width: 70%;
    }
    .gallery {
        margin-top: 35px;
        .gallery__bottombox {
            margin-top: 20px;
        }
    }
    .free {
        li {
            span {
                display: none;
            }
        }
    }
    footer {
        margin-top: 40px;
    }
}
@media (max-width: 560px) {
    .header__box {
        padding-right: 15px;
    }
    .header__item {
        font-size: 8px;
        max-width: none;
        .icon {
            font-size: 10px;
            left: -16px;
        }
        span {
            font-size: 9px;
            font-weight: 900;
        }
    }
    .logo {
        width: 50px;
        img {
            width: 30px;
            height: 30px;
        }
    }
    .video__text {
        font-size: 16px !important;
        padding-left: 10px;
        padding-right: 10px;
    }
    .services__content p {
        font-size: 11px;
    }
    .prices__wrapper {
        flex-wrap: wrap-reverse;
    }
    .left__box {
        width: 100%;
        ul {
            padding-right: 30px;

            li {
                font-size: 12px;
            }
        }
    }
    input[type="text"],
    input[type="number"],
    input[type="tel"] {
        -webkit-margin-bottom: 5px;
        margin-bottom: 5px;
    }
    .calc {
        .calc__wrapper {
            padding-bottom: 50px;
        }
        .title {
            padding-bottom: 10px;
        }
        .calc__img {
            padding-bottom: 20px;
            padding-top: 0;
        }

        input[type="checkbox"] {
            margin-right: 5px;
            margin-top: 3px;
        }
        .custom-checkbox + label::before {
            width: 1.3em;
            height: 1.3em;

        }
    }
    .btn {
        font-size: 12px;
    }

    form {
        font-size: 11px;
    }
}

@media (max-width: 500px) {
    .header__item {
        max-width: none;
        margin-left: 30px;

        span {
            font-weight: 900;
        }
    }
    .header__box {
        display: flex;
        justify-content: end;
    }

    .header__item-1 {
        display: none;
    }
    .logo {
        padding-left: 5px;
        padding-right: 5px;
    }
    .menu__box {
        ul {
            li {
            }
            span {
                display: none;
            }
        }
    }
    .services {
        .services__wrapper {
            margin-top: 22px;
        }
        h1 {
            padding-top: 10px;
            padding-bottom: 20px;
        }
        h2,
        h3 {
            text-align: center;
        }
        .services__img-left {
            display: none;
        }
    }
    .form {
        margin-top: 50px;
    }
    footer {
        line-height: 1.2;
        font-size: 8px;
        .container {
            padding: 10px;
        }
        a {
            font-size: 8px !important;
            font-weight: 900 !important;
        }
    }
}
@media (max-width: 435px) {
    .advantages .advantages__item {
        padding: 0;
        padding-bottom: 50px;
        width: 80%;
        &:last-child {
            padding-bottom: 0;
        }
        h1 {
            padding-bottom: 20px;
        }
    }
    .line {
        height: 20px;
    }
    .free {
        .title {
            padding-top: 0;
        }
    }
    .prices {
        margin-top: 20px;
        .right__box {
            margin-top: 0;
        }
        ul {
            padding-left: 20px;
            padding-right: 20px;
            li {
                font-size: 9px;
            }
        }
    }
    .fixed {
        position: fixed;
        width: 100%;
        z-index: 999;
    }
    .video {
        padding-top: 86.9px;
        .video__wrapper {
            padding-top: 86.9px;
        }
    }
    .rightpart-left {
        a:last-child {
            height: 33%;
        }
    }
    .rightpart-right {
        a:first-child {
            height: 33%;
        }
    }
}
@media (max-width: 409px) {
    .logo {
        padding-left: 17px;
        padding-right: 5px;
    }
    .services {
        h2,
        h3 {
            margin-left: 0 !important;
            width: auto !important;
        }
    }
    .services .title {
        width: 300px;
    }

    .stripe__text {
        max-width: 90%;
    }
    .menu__box {
        ul {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .video__title {
        margin-top: 8% !important;
        font-size: 20px !important;
    }
    .video__text {
        font-size: 16px !important;
    }
    .prices {
        h1 {
            padding-left: 15px;
        }
    }
    footer {
        font-size: 6px;
        .container {
            padding: 5px;
        }
        a {
            font-size: 6px !important;
        }
    }
    .logo {
        display: none;
    }
}
